

#title {
  text-align: center;
  color:black;
}

#email {
    text-align: center;
    color: black;
  }

#gmail {
    text-align: center;
    color: blue;
  }

#hotmail {
    text-align: center;
    color: blue;
  }